<template name="computer">
	<div id="realtimeBackground" class="post">
  {{#each players}}   
    <div class="row">
      {{#if isCurrent author}}
      <div id="currentRealtimePlayer" class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">           
            <h3 id="realtime_player_title" class="name_title">{{author}}</h3>
            <img id="{{player}}" src="{{avatar_url}}" alt="{{choice}}">
            <input style="display: none" id="{{player}}win" value={{win}}>
            <input style="display: none" id="{{player}}loss" value={{loss}}>
            <input style="display: none" id="{{player}}tie" value={{tie}}>
            <input style="display: none" id="{{player}}clicked" value={{clicked}}>
            <table id="realtime_player_table" class="score_table">
              <tr>
                <th>Wins</th>
                <th>Loss</th> 
                <th>Tie</th>
              </tr>
              <tr>
                <td id="pwin">{{win}}</td>
                <td id="ploss">{{loss}}</td> 
                <td id="ptie">{{tie}}</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-5">
            <div id="player_realtime_rps">
              <div class="row">
                <div class="col-xs-12"><img class="rps_image {{rock_class}}" id="{{player}}rock" src="{{rock_url}}" alt="{{_id}}"/></div>
              </div>
              <div class="row">
                <div class="col-xs-12"><img class="rps_image {{paper_class}}" id="{{player}}paper" src="{{paper_url}}" alt="{{_id}}"/></div>
              </div>
              <div class="row">
                <div class="col-xs-12"><img class="rps_image {{scissors_class}}" id="{{player}}scissors" src="{{scissors_url}}" alt="{{_id}}"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="realtimeCountdown col-xs-4">
        <div id="ready" class="countdown_results  {{ready_class}}"><img id="count_image" src="/rps_images/ready.png"></div>
        <div id="countone" class="countdown_results {{countone_class}}"><img id="count_image" src="/rps_images/countOne.jpg"></div>
        <div id="counttwo" class="countdown_results {{counttwo_class}}"><img id="count_image" src="/rps_images/countTwo.png"></div>
        <div id="countthree" class="countdown_results {{countthree_class}}"><img id="count_image" src="/rps_images/countThree.png"></div>
        <div id="go" class="countdown_results {{go_class}}"><img id="count_image" src="/rps_images/go.png"></div>
        <div id="winner" class="countdown_results {{win_class}}"><img class="reverser" id="count_image" src="/rps_images/winner.jpg"></div>
        <div id="loser" class="countdown_results {{lose_class}}"><img id="count_image" src="/rps_images/loser.jpg"></div>
        <div id="tie" class="countdown_results {{tie_class}}"><img id="count_image" src="/rps_images/tie.jpg"></div>
      </div>
      {{else}} 
      <div id="opponentRealtimePlayer" class="col-xs-4">
        <div class="row">
          <div class="col-xs-5">
            <div id="opponent_realtime_rps">
              <div class="row">
                <div class="col-xs-12"><img class="reverser rps_image {{rock_class}}" id="{{player}}rock" src="{{rock_url}}" alt="{{_id}}"/></div>
              </div>
              <div class="row">
                <div class="col-xs-12"><img class="reverser rps_image {{paper_class}}" id="{{player}}paper" src="{{paper_url}}" alt="{{_id}}"/></div>
              </div>
              <div class="row">
                <div class="col-xs-12"><img class="reverser rps_image {{scissors_class}}" id="{{player}}scissors" src="{{scissors_url}}" alt="{{_id}}"/></div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <h3 id="realtime_opponent_title" class="name_title">{{author}}</h3>
            <img class="reverser" id="{{player}}" src="{{avatar_url}}" alt="{{choice}}">
            <input style="display: none" id="{{player}}win" value={{win}}>
            <input style="display: none" id="{{player}}loss" value={{loss}}>
            <input style="display: none" id="{{player}}tie" value={{tie}}>
            <table id="realtime_opponent_table" class="score_table">
              <tr>
                <th>Win</th>
                <th>Loss</th> 
                <th>Tie</th>
              </tr>
              <tr>
                <td id="cwin">{{win}}</td>
                <td id="closs">{{loss}}</td> 
                <td id="ctie">{{tie}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
    {{/each}}
    <button style="display: none" id="another_game">Another game?</button> 
  </div>
</template>