<template name="footer">
	<audio id="audio_player0" controls class="my_audio" autoplay="autoplay" preload="none">
    <source src="/audio/neonGenesis.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player1" class="my_audio" preload="none">
    <source src="/audio/fateZero.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player2" class="my_audio" preload="none">
    <source src="/audio/moribito.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player3" class="my_audio" preload="none">
    <source src="/audio/noragami.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player4" class="my_audio" preload="none">
    <source src="/audio/sevenWonders.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player5" class="my_audio" preload="none">
    <source src="/audio/berserk.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player6" class="my_audio" preload="none">
    <source src="/audio/ghostInShellMovie.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player7" class="my_audio" preload="none">
    <source src="/audio/attackOnTitan.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player8" class="my_audio" preload="none">
    <source src="/audio/ghostInShellTv1st.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player9" class="my_audio" preload="none">
    <source src="/audio/ghostInShellTv2nd.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player10" class="my_audio" preload="none">
    <source src="/audio/lithiumFlowerGISTv.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio_player11" class="my_audio" preload="none">
    <source src="/audio/tankCB.mp3" type="audio/mpeg">
  </audio>
</template>
